.widget_search,
.widget_product_search {
	form {
		position: relative;
	}

	.search-field {
		width: 100%;
		padding-right: 72px;
	}

	.search-submit {
		@extend %NormalTransition;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		border: 0;
		width: 55px;
		height: 55px;
		line-height: 55px;
		text-align: center;
		box-shadow: none;
		transform: none;
		background: transparent;

		&:hover {
			color: #fff;
		}
	}

	.search-btn-text {
		display: none;
	}

	.search-btn-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 18px;
	}
}
