.billey-case-study-carousel {
	.slide-wrapper {
		@extend %NormalTransition;
		display: flex;
		flex: 1 1 0;
		flex-direction: row-reverse;
		height: 100%;
		max-width: 800px;
	}

	.slide-image,
	.slide-content {
		width: 50%;
	}

	.slide-image {
		@extend %NormalTransition;
		position: relative;
		height: 100%;

		img {
			object-fit: cover;
			height: 100%;
			transition: all .3s linear, transform .8s cubic-bezier(0, 0, .2, 1);
		}
	}

	.title {
		font-size: 38px;
		font-weight: 300;
		line-height: 1.58;
		margin-bottom: 0;
	}

	.slide-layers {
		padding: 0 40px 0 0;
	}

	.slide-tags {
		@extend %NormalTransition;
		opacity: 1;
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.4;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.slide-tag {
		display: inline-block;
		margin-bottom: 5px;
		color: inherit;
	}

	.slide-numbered {
		font-size: 80px;
		font-weight: 300;
		line-height: 1;
		margin: 65px 0 48px;
	}

	.tm-button-wrapper {
		@extend %NormalTransition;
		opacity: 1;
		margin: 33px 0 0;
	}

	.swiper-slide {
		&:not(.swiper-slide-active) {
			.slide-wrapper {
				opacity: .37;
			}

			.slide-image {
				img {
					transform: scale(.7) translateZ(0);
					transform-origin: left center;
				}
			}

			.slide-tags,
			.tm-button-wrapper {
				opacity: 0;
			}
		}
	}
}

@include elementor-breakpoint-down(md) {
	.billey-case-study-carousel {
		.title {
			font-size: 32px;
		}
	}
}

@include elementor-breakpoint-down(sm) {
	.billey-case-study-carousel {
		.slide-wrapper {
			display: block;
			height: auto;
		}

		.swiper-slide {
			&:not(.swiper-slide-active) {
				.slide-wrapper {
					opacity: 1;
				}

				.slide-image {
					img {
						transform: none;
					}
				}

				.slide-tags,
				.tm-button-wrapper {
					opacity: 1;
				}
			}
		}

		.slide-layers {
			padding: 30px 0 0;
		}

		.slide-image {
			height: 300px;

			img {
				width: 100%;
			}
		}

		.slide-content,
		.slide-image {
			width: 100%;
		}

		.title {
			font-size: 26px;
		}

		.slide-numbered {
			font-size: 40px;
			margin: 20px 0;
		}
	}
}
