.elementor-widget-tm-icon-box {
	.tm-icon-box {
		@extend %NormalTransition;
		position: relative;
		display: block;
		width: 100%;

		&:before {
			@extend %NormalTransition;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			visibility: hidden;
			opacity: 0;
		}

		&:hover {
			&:before {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.icon-box-wrapper {
		position: relative;
		z-index: 1;
		text-align: center;
	}

	.icon,
	.heading,
	.description,
	.icon-box-button {
		@extend %NormalTransition;
	}

	.billey-icon-wrap,
	.heading-wrap,
	.description-wrap,
	.button-wrap {
		line-height: 0;
	}

	.heading,
	.description {
		display: inline-block;
	}

	.heading {
		font-size: 20px;
		margin-bottom: 0;

		a {
			color: inherit;
		}
	}

	.tm-icon-box {
		&:hover {
			.heading-divider {
				&:after {
					width: 100%;
				}
			}
		}
	}

	.heading-divider-wrap {
		margin-top: 27px;
	}

	.heading-divider {
		position: relative;
		height: 3px;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
		}

		&:before {
			width: 100%;
			height: 1px;
			top: 1px;
			background: #eee;
		}

		&:after {
			@extend %NormalTransition;
			width: 0;
			height: 3px;
			left: 50%;
			transform: translate(-50%, 0);
			background: #111;
		}
	}

	.description-wrap {
		margin-top: 21px;
	}

	.description {
		font-size: 16px;
		line-height: 1.75;
	}

	.icon-box-content {
		flex-grow: 1;
	}

	.button-wrap {
		margin-top: 38px;
	}

	.icon-box-button {
		display: inline-block;
		font-size: 13px;
		font-weight: 500;
		line-height: 1.31;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&.elementor-style-01 {
		.tm-icon-box {
			background: #fff;
			padding: 51px 35px 45px;

			&:after {
				@extend %NormalTransition;
				pointer-events: none;
				content: '';
				position: absolute;
				top: 10px;
				left: 10px;
				right: 10px;
				bottom: 10px;
				border: 1px solid #eee;
				opacity: 0;
				visibility: hidden;
			}

			&:hover {
				background: #fff;
				box-shadow: 0 60px 40px -40px rgba(51, 51, 51, .13);

				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&.elementor-style-02 {
		.tm-icon-box {
			padding: 51px 35px 50px;

			&:after {
				@extend %NormalTransition;
				pointer-events: none;
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 3px;
				background: #111;
				opacity: 0;
				visibility: hidden;
			}

			&:hover {
				background: #fff;
				box-shadow: 0 16px 40px #ededed;

				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&.elementor-style-03 {
		.tm-icon-box {
			background: #fff;
			padding: 37px 40px;
			box-shadow: 0 0 40px rgba(51, 51, 51, .1);

			&:hover {
				box-shadow: 0 60px 40px -40px rgba(51, 51, 51, .13);
			}
		}
	}

	&.elementor-style-04 {
		.tm-icon-box {
			padding: 28px 30px 38px;
			border-radius: 0;

			.description-wrap {
				margin: 24px 0 0;
			}

			&:hover {
				background: #fff;
				border-radius: 66px 0;
				box-shadow: 0 16px 40px #ededed;
			}
		}
	}
}

@media (min-width: 768px) {
	.elementor-widget-tm-icon-box {
		&.elementor-position-left,
		&.elementor-position-right {
			.icon-box-wrapper {
				display: flex;
			}

			.billey-icon-wrap {
				display: inline-flex;
				flex: 0 0 auto;
			}

			.description-wrap {
				margin-top: 17px;
			}
		}

		&.elementor-position-right {
			.icon-box-wrapper {
				text-align: right;
				flex-direction: row-reverse;
			}

			.billey-icon-wrap {
				margin-left: 20px;
			}
		}

		&.elementor-position-left {
			.icon-box-wrapper {
				text-align: left;
				flex-direction: row;
			}

			.billey-icon-wrap {
				margin-right: 20px;
			}
		}

		&.elementor-position-top {
			.billey-icon-wrap {
				margin-bottom: 38px;
			}
		}

		&.elementor-vertical-align-top {
			.icon-box-wrapper {
				align-items: flex-start;
			}
		}

		&.elementor-vertical-align-middle {
			.icon-box-wrapper {
				align-items: center;
			}
		}

		&.elementor-vertical-align-bottom {
			.icon-box-wrapper {
				align-items: flex-end;
			}
		}
	}
}

@media (max-width: 767px) {
	.elementor-widget-tm-icon-box .billey-icon-wrap {
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 15px;
	}
}
