.billey-product {
	.added_to_cart {
		display: none !important;
	}

	&.style-grid {
		.modern-grid {
			grid-gap: 50px;
		}

		.product-wrapper {
			position: relative;

			&:hover {
				.product-thumbnail {
					box-shadow: 0 40px 40px -40px rgba(17, 17, 17, .4);
				}
				.product-main-image {
					img {
						transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
					}
				}

				.product-hover-image {
					z-index: 9;
					opacity: 1;
					visibility: visible;
					transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
				}
			}
		}

		.product-thumbnail {
			@extend %NormalTransition;
			position: relative;
			overflow: hidden;
			margin-bottom: 22px;
		}

		.thumbnail {
			position: relative;

			img {
				transform: perspective(1px) translateZ(0);
				transition: all 1.5s cubic-bezier(0, 0, .2, 1);
				width: 100%;
			}
		}

		.product-hover-image {
			transition: .25s opacity, .25s visibility, transform 1.5s cubic-bezier(0, 0, .2, 1);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		.product-actions {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 99;
			display: flex;
			align-items: center;
			padding: 0 11px 0 20px;
			min-height: 60px;
			background: #111;
		}

		.product-action {
			z-index: -1;
		}

		.woocommerce_loop_add_to_cart_wrap {
			flex-grow: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-right: 10px;

			a {
				@extend %NormalTransition;
				@extend %LinkTransition;
				display: inline-block;
				padding: 0 0 6px;
				color: #fff;
				background: none !important;
				border: 0 !important;
				box-shadow: none !important;
				transform: none !important;
				line-height: inherit !important;
				height: auto !important;

				&:after {
					bottom: 6px;
				}
			}
		}

		.quick-view-icon,
		.woosw-btn,
		.wooscp-btn {
			flex-shrink: 0;
			position: relative;
			display: block;
			color: #fff;
			font-size: 0 !important;
			padding: 9px;

			&:before {
				@extend %FontAwesomeRegular;
				font-size: 15px;
			}
		}

		.quick-view-icon {
			&:before {
				content: '\f002';
			}
		}

		.wooscp-btn {
			&:before {
				content: '\f3f1';
			}
		}

		.woosw-btn {
			&:before {
				content: '\f004';
			}

			&.woosw-added {
				&:before {
					@extend %FontAwesomeSolid;
					content: '\f004';
					margin: 0;
				}
			}
		}

		.add_to_cart_button.product_type_simple {
			&.loading {
				&:before {
					@extend %FontAwesomeLight;
					animation: load-spin 1s linear infinite !important;
					content: '\f3f4' !important;
					margin-right: 10px;
				}
			}
		}

		.woosw-adding,
		.wooscp-btn-adding {
			&:before {
				animation: load-spin 1s linear infinite !important;
				content: '\f3f4' !important;
			}
		}

		.quick-view-btn.loading {
			.quick-view-icon:before {
				animation: load-spin 1s linear infinite !important;
				content: '\f3f4' !important;
			}
		}

		.woocommerce-loop-product__title {
			font-size: 16px;
			line-height: 1.75;
			margin-bottom: 0;

			a {
				color: inherit;
			}
		}

		.price {
			display: block;
		}

		.star-rating {
			display: inline-block;
			margin: 10px 0 0;
		}
	}
}
