.header-02 {
	.header-wrap {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.branding {
		display: flex;
		align-items: center;
		flex-shrink: 0;
	}

	.header-right {
		flex-grow: 1;
	}

	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}
	}
}

@media (min-width: 1600px) {
	.header-02 {
		.container-fluid {
			padding-left: 100px;
			padding-right: 100px;
		}
	}
}
