.header-10 {
	.header-wrap {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.branding {
		display: flex;
		align-items: center;
		flex-shrink: 0;
	}

	.header-right {
		flex-grow: 1;
	}

	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}
	}
}
