button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button {
	@extend %NormalTransition;
	padding: 0 41px;
	height: 55px;
	line-height: 53px;
	outline: none;
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&[disabled] {
		cursor: not-allowed;
		opacity: .5;
	}
}

.button {
	display: inline-block;
}
