.wp-block {
	max-width: 100%;
}

.edit-post-visual-editor, .edit-post-visual-editor input[type=text].editor-default-block-appender__content, .edit-post-visual-editor p {
	font-family: inherit !important;
}

.edit-post-visual-editor {
	font-family: Roboto !important;
	line-height: 30px !important;
	font-weight: 400 !important;
	font-style: normal !important;
	color: #6a7c92 !important;
	width: inherit !important;
	max-width: 5000px !important;
	margin: 0 !important;
	font-size: 17px !important;
	padding: 0 !important;
}

.editor-styles-wrapper {
	color: #6a7c92 !important;
}


.edit-post-layout .editor-post-title textarea {
	color: #1E1666 !important;
}

.wp-block-heading h1, .edit-post-layout .editor-post-title textarea {
	font-family: Poppins;
	line-height: 45px !important;
	font-weight: 700;
	font-style: normal;
	color: #1E1666 !important;
	font-size: 35px !important;
}

.wp-block-heading h2 {
	font-family: Poppins;
	line-height: 40px !important;
	font-weight: 700;
	font-style: normal;
	color: #1E1666 !important;
	font-size: 30px !important;
}

.wp-block-heading h3 {
	font-family: Poppins;
	line-height: 38px !important;
	font-weight: 700;
	font-style: normal;
	color: #1E1666 !important;
	font-size: 28px !important;
}

.wp-block-heading h4 {
	font-family: Poppins;
	line-height: 35px !important;
	font-weight: 600;
	font-style: normal;
	color: #1E1666 !important;
	font-size: 25px !important;
}

.wp-block-heading h5 {
	font-family: Poppins;
	line-height: 30px !important;
	font-weight: 600;
	font-style: normal;
	color: #1E1666 !important;
	font-size: 20px !important;
}

.wp-block-heading h6 {
	font-family: Poppins;
	line-height: 25px !important;
	font-weight: 600;
	font-style: normal;
	color: #1E1666 !important;
	font-size: 15px !important;
}

#adminmenu li>ul, #adminmenu li>ol {
	margin-left: 0;
}

/*.edit-post-visual-editor .editor-post-title, .edit-post-visual-editor .editor-block-list__block {
	max-width: 1100px;
}*/

.edit-post-visual-editor .editor-block-list__block[data-align=wide] {
	max-width: 1300px;
}

.edit-post-layout {
	background-color: #FFF;
	box-sizing: border-box;
}

.editor-block-list__layout .editor-block-list__block[data-align=full] > .editor-block-list__block-edit figure.is-video {
	width: 99%;
}

.editor-block-list__layout .editor-block-list__block[data-align=full] {
	margin-left: -25px;
	margin-right: -25px;
}

.edit-post-layout .editor-post-title textarea {
	background-color: transparent;
	color: inherit;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.edit-post-layout .editor-post-title {
	color: inherit;
	background-color: transparent;
	font-weight: bold;
	margin-bottom: .5em;
	padding-bottom: 0;
	padding-top: 0;
	position: relative;
}

/* ======= blockquote ====== */

.mce-content-body blockquote {
	background: rgba(128, 128, 128, 0.1);
	border-left: 4px solid rgba(128, 128, 128, 0.4) !important;
	margin: 1.5em auto !important;
	overflow: auto;
	padding: 0.8em 1.5em 1em 1.2em;
	width: 90%;
}

.mce-content-body blockquote cite {
	font-style: normal;
	font-weight: bold;
}

.mce-content-body blockquote p {
	font-style: italic;
	font-size: 1em;
	margin-bottom: 0;
}

.mce-content-body em, .mce-content-body i {
	font-style: italic;
}

.mce-content-body cite {
	border-width: 0;
	display: block;
	margin-left: 3em;
	margin-top: .5em;
}

.mce-content-body blockquote em, .mce-content-body blockquote i {
	font-style: italic;
}

/* ====== Cover-Images ====== */

.editor-block-list__block .wp-block-cover-image {
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
	width: 100%;
}

.editor-block-list__block .wp-block-cover-image.alignfull {
	left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* ====== Images ====== */
.wp-block-gallery .blocks-gallery-item figcaption{
    background: none !important;
}
.mce-content-body img {
	max-width: 100%;
}

.mce-content-body img[class*="wp-image-"] {
	height: auto;
	max-width: 100%;
}

.mce-content-body img.size-full {
	max-width: 100% !important;
	width: auto;
}

.mce-content-body img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.mce-content-body p img, .wp-caption {
	margin-top: 0.4em;
}

.mce-content-body img {
	background-color: transparent;
	margin-bottom: 1em;
	padding: 0;
}

.wp-caption, img {
	background-color: transparent;
	border: none;
	height: auto;
	margin: 0;
	margin-bottom: 1em;
	max-width: 100%;
	padding: 0;
	text-align: center;
}

.wp-caption {
	margin: 10px 20px 10px 10px;
	padding: 8px 3px 0px 3px;
}

.mce-content-body img.alignleft, .mce-content-body img.alignright, .mce-content-body img.aligncenter {
	margin-bottom: 1.625em;
}

/* ====== Lists ====== */

.assistive-text {
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mce-content-body .alignfull, .mce-content-body .alignwide, .mce-content-body .aligncenter {
	clear: both;
}

.mce-content-body .alignwide, .mce-content-body p.alignwide {
	margin-left: -10% !important;
	margin-right: -10% !important;
	max-width: 120% !important;
}

.wp-block-text-columns.alignwide {
	margin-left: -5% !important;
	margin-right: -5% !important;
	max-width: 110% !important;
}

.editor-block-list__layout .editor-block-list__block[data-align=wide] > .editor-block-list__block-edit figure {
	width: 100%;
}

.wp-block-categories ul li {
	text-align: left;
	padding: 10px 0;
}

.wp-block-categories li:not(:last-child) {
	border-bottom: none;
}

ul.wp-block-archives.wp-block-archives-list li {
	padding: 5px 0;
}

.wp-block-quote.is-large p, .wp-block-pullquote blockquote>.block-editor-rich-text p {
	font-size: 17px;
}

.wp-block-table td, .wp-block-table th {
   border: 1px #e2e2e2 solid !important;
}

ul.wp-block-latest-posts a {
   
   color: #337ab7;
}
.wp-block-latest-posts li:not(:last-child){
    border-bottom: none !important;
}

.wp-block-code, .wp-block-preformatted pre {
	font-family: Menlo, Consolas, monaco, monospace;
	color: #333;
	font-size: 13.6px !important;
	line-height: 1.42857143;
}
.wp-block-verse pre {
    padding: 0px;
    margin: 0px;
    line-height: 1.42857143;
}
.wp-block-categories ul, .wp-block-categories ul ul{
	list-style: none !important;
}
.wp-block {
	margin-bottom: 30px;
}
.editor-writing-flow ul.wp-block-gallery{
    padding-left: 30px;
}
.editor-writing-flow ul.wp-block-gallery.alignfull{
    padding-left: 60px;
}
.editor-block-list__block-edit div[data-block]{
	margin-top: 0px;
}
.wp-block-gallery .blocks-gallery-item figure {
    display: inline-block;
    align-items: flex-end;
    justify-content: flex-start;
}

.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
    display: inline-block;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.editor-styles-wrapper .block-library-list ol, .editor-styles-wrapper .block-library-list ul {
    padding-left: 1.3em;
    margin-left: 0;
}
.wraper_blog_main.default-page ul li:before {
    content: none !important;
}
.wp-block-categories li:before {
    content: none !important;
}
.editor-styles-wrapper p{
	line-height: 30px !important;
}
.editor-styles-wrapper .wp-block-pullquote{
	background: none !important;
}
.editor-styles-wrapper a {
    color: #0073aa;
}
.wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

:root .has-cyan-bluish-gray-background-color {
    background-color: #abb8c3 !important;
}

.editor-styles-wrapper a {
    color: #337ab7;
    text-decoration: none;
}
.wp-block-file .wp-block-file__button{
padding: 1px 18px;
}

.editor-styles-wrapper blockquote.wp-block-quote{
border-left: 0px none !important;
}