body{
			font-family: "Roboto";
}
			h1, h2, h3, h4, h5, h6, .inner_banner_main .title {
					
	font-family: "futura-pt";
	}
						 .rt-pricing-table > .holder > .pricing > .price, .radiantthemes-accordion .text {
	font-family: "futura-pt";
	}
							
		



.wraper_header .wraper_header_main .header_main .brand-logo img, .wraper_header .wraper_header_main .header_main .brand-logo-sticky img{
	max-width: px !important;
	height: ;
}
.wraper_header .wraper_header_main .nav, .wraper_header .wraper_header_main .header-hamburger-menu {
	margin:     !important;
}

.radiantthemes-website-layout.boxed{
	max-width: 1200px ;
}

@media (min-width: 1200px){

	.radiantthemes-website-layout.boxed .container{
		width: calc( 1200px - 30px) ;
	}

	.radiantthemes-website-layout.boxed .container.page-container{
		width: 1200px ;
	}

}

.radiantthemes-website-layout.boxed .container-fluid{
	max-width: calc( 1200px - 30px) ;
}








body[data-header-style='header-style-one'] #hamburger-menu{
	max-width: px ;
}

body[data-header-style='header-style-one'] #hamburger-menu.right{
	right: -px ;
}


body[data-header-style='header-style-two'] #hamburger-menu{
	max-width: px ;
}

body[data-header-style='header-style-two'] #hamburger-menu.right{
	right: -px ;
}


body[data-header-style='header-style-six'] #hamburger-menu{
	max-width: px ;
}

body[data-header-style='header-style-six'] #hamburger-menu.right{
	right: -px ;
}


body[data-header-style='header-style-sixteen'] #hamburger-menu{
	max-width: px ;
}

body[data-header-style='header-style-sixteen'] #hamburger-menu.right{
	right: -px ;
}


.wraper_inner_banner_main .inner_banner_main{
	text-align: center ;
}

.wraper_inner_banner_breadcrumb .inner_banner_breadcrumb{
	text-align: left ;
}






