.woocommerce div.quantity button:before, .mini-cart .widget_shopping_cart_content, .woocommerce .cats .cat-text, .woocommerce .cats .cat-title, .woocommerce .cats .cat-count, .single-product .woo-single-gallery .billey-thumbs-swiper .swiper-slide img, .woocommerce-tabs .tabs li, .woocommerce-tabs .tabs li a, .woosw-area.woosw-area .woosw-inner .woosw-content .woosw-content-top .woosw-close, .woosw-area.woosw-area .woosw-continue, .desktop .billey-product.style-grid .product-actions {
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.woocommerce .col2-set::after,
.woocommerce-page .col2-set::after, .widget_shopping_cart_content .total::after, .cart_list.product_list_widget li::after, .woocommerce .page-sidebar .product_list_widget .product-item::after, .product_list_widget li::after, .single-product form.cart .quantity-button-wrapper::after, .woocommerce-tabs .woocommerce-Tabs-panel::after {
  content: "";
  display: table;
  clear: both;
}

.woocommerce-error .button,
.woocommerce-info .button,
.woocommerce-message .button, .shipping-calculator-button, .woocommerce-review-link, .entry-product-meta a, .woosw-page a,
.woosw-continue {
  position: relative;
}

.woocommerce-error .button:after,
.woocommerce-info .button:after,
.woocommerce-message .button:after, .shipping-calculator-button:after, .woocommerce-review-link:after, .entry-product-meta a:after, .woosw-page a:after,
.woosw-continue:after {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: currentColor;
}

.woocommerce-error .button:hover:after,
.woocommerce-info .button:hover:after,
.woocommerce-message .button:hover:after, .shipping-calculator-button:hover:after, .woocommerce-review-link:hover:after, .entry-product-meta a:hover:after, .woosw-page a:hover:after,
.woosw-continue:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.woocommerce .select2-search--dropdown:after, .stock:before, .woocommerce .widget_rating_filter ul li.chosen a:before, .comment-form-rating .stars a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
}

.woocommerce .add_to_cart_button.ajax_add_to_cart:before, .single-product .reset_variations:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
}

.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-message:before, .mini-cart .mini-cart-icon:before, .cart_list.product_list_widget li .remove:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
}

.woosw-list table.woosw-content-items .woosw-content-item .woosw-content-item--remove span:before, .woosw-area.woosw-area .woosw-inner .woosw-content .woosw-content-top .woosw-close:after, .woosw-area.woosw-area .woosw-inner .woosw-content .woosw-content-mid table.woosw-content-items .woosw-content-item .woosw-content-item--remove > span:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: 'Font Awesome 5 Pro' !important;
  font-weight: 300;
}

.wishlist-btn.style-01 a:before,
.compare-btn.style-01 a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: 'Font Awesome 5 Pro' !important;
  font-weight: 400;
}

.popup-product-quick-view {
  cursor: url("assets/images/cursor/light-close.png") 16 16, pointer;
}


.woocommerce .select2 {
  height: 56px;
}

.woocommerce .select2-search--dropdown {
  position: relative;
}

.woocommerce .select2-search--dropdown:after {
  content: '\f002';
  font-size: 14px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 15px;
}

.woocommerce .select2-dropdown {
  border-color: #eee;
  border-radius: 0;
  top: -1px;
}

.woocommerce .select2-results {
  padding: 0;
}

.woocommerce .select2-search--dropdown .select2-search__field {
  padding: 3px 20px;
  min-height: 45px;
}

.woocommerce .select2-drop-active {
  border: 0 !important;
}

.woocommerce .select2-container .select2-selection--single {
  height: 55px;
  border-radius: 0;
}

.woocommerce .select2-container .select2-selection__rendered {
  padding: 0 20px !important;
  outline: 0;
}

.woocommerce .select2-container--default .select2-selection--single {
  outline: 0;
}

.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 5px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 53px;
  color: inherit;
}

.woocommerce .select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #ddd;
}

.woocommerce .select2-results__option {
  outline: 0;
  padding: 6px 15px;
}

@font-face {
  font-family: star;
  src: url(assets/fonts/woocommerce/star.eot);
  src: url(assets/fonts/woocommerce/star.eot?#iefix) format("embedded-opentype"), url(assets/fonts/woocommerce/star.woff) format("woff"), url(assets/fonts/woocommerce/star.ttf) format("truetype"), url(assets/fonts/woocommerce/star.svg#star) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: WooCommerce;
  src: url(assets/fonts/woocommerce/WooCommerce.eot);
  src: url(assets/fonts/woocommerce/WooCommerce.eot?#iefix) format("embedded-opentype"), url(assets/fonts/woocommerce/WooCommerce.woff) format("woff"), url(assets/fonts/woocommerce/WooCommerce.ttf) format("truetype"), url(assets/fonts/woocommerce/WooCommerce.svg#star) format("svg");
  font-weight: 400;
  font-style: normal;
}

.clear {
  clear: both;
}

.woocommerce .col2-set,
.woocommerce-page .col2-set {
  width: 100%;
}

.woocommerce .col2-set:before,
.woocommerce-page .col2-set:before {
  content: ' ';
  display: table;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: left;
  width: 48%;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: right;
  width: 48%;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  position: relative;
  width: 100%;
  border: 0;
  color: #fff;
  margin: 0 0 30px !important;
  padding: 1em 2em 1em 4em;
  list-style: none outside;
  word-wrap: break-word;
}

.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-message:before {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 1.2em;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.woocommerce-error a,
.woocommerce-info a,
.woocommerce-message a {
  color: #fff;
  font-weight: 600;
}

.woocommerce-error a:hover, .woocommerce-error a:focus,
.woocommerce-info a:hover,
.woocommerce-info a:focus,
.woocommerce-message a:hover,
.woocommerce-message a:focus {
  color: #fff;
}

.woocommerce-error .button,
.woocommerce-info .button,
.woocommerce-message .button {
  float: right;
  margin: 4px 0 0 10px !important;
  height: auto !important;
  border: 0 !important;
  border-radius: 0 !important;
  background: none !important;
  color: #fff !important;
  line-height: 1.2 !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 12px !important;
  padding: 2px 0;
}

.woocommerce-error {
  background: #d9534f;
}

.woocommerce-error:before {
  content: '\f0f3';
}

.woocommerce-info:before {
  content: '\f05a';
}

.woocommerce-message:before {
  content: "\f058";
}

.notify-actions {
  margin-top: 20px;
  text-align: center;
}

.notify-actions .notify-link {
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.notify-actions .notify-link:hover {
  text-decoration: underline;
}

.woocommerce {
  
}

.woocommerce .product-badges {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99;
}

.woocommerce .product-badges > span {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 3px;
  padding: 3px 6px;
  min-height: 0;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.08;
  text-transform: uppercase;
  letter-spacing: 1.38px;
}

.woocommerce .product-badges .hot {
  background: #d3122a;
}

.woocommerce .product-badges .onsale {
  background: #f6b500;
}

.woocommerce .product-badges .new {
  background: #38cb89;
}

.woocommerce .product-badges .out-of-stock {
  background: #d31129;
}

.woocommerce form .form-row {
  margin: 0 0 20px;
  padding: 0;
}

.woocommerce form .form-row textarea {
  height: 140px;
}

.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
  border-color: #d9534f;
}

.woocommerce div.quantity {
  position: relative;
  width: 66px;
}

.woocommerce div.quantity .qty {
  padding: 2px 20px 2px 5px;
  width: 100%;
  min-height: 40px;
  border: 1px solid #eee;
  text-align: center;
  font-size: 15px;
  color: #111;
}

.woocommerce div.quantity input::-webkit-outer-spin-button,
.woocommerce div.quantity input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.woocommerce div.quantity button {
  background: none;
  position: absolute;
  right: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 0;
  font-size: 0;
  box-shadow: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.woocommerce div.quantity button:before {
  content: '';
  position: absolute;
  right: 14px;
  border-left: 4px solid transparent !important;
  border-right: 4px solid transparent !important;
}

.woocommerce div.quantity .increase {
  top: 0;
}

.woocommerce div.quantity .increase:before {
  bottom: 7px;
  border-bottom: 4px solid #d8d8d8;
}

.woocommerce div.quantity .decrease {
  bottom: 0;
}

.woocommerce div.quantity .decrease:before {
  top: 7px;
  border-top: 4px solid #d8d8d8;
}

.woocommerce .add_to_cart_button.ajax_add_to_cart:before {
  margin-right: 10px;
}

.woocommerce .add_to_cart_button.ajax_add_to_cart.loading:before {
  -webkit-animation: load-spin 1s linear infinite !important;
          animation: load-spin 1s linear infinite !important;
  content: '\f3f4' !important;
}

.woocommerce .add_to_cart_button.ajax_add_to_cart.added:before {
  content: '\f00c' !important;
}

.stock {
  position: relative;
  display: table;
  padding: 9px 0 8px 22px;
  font-size: 13px;
  font-style: italic;
  margin: 0;
  color: #ababab;
}

.stock:before {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.stock.in-stock:before {
  color: #38cb89;
  content: '\f058';
}

.stock.out-of-stock:before {
  color: #d31129;
  content: '\f057';
}

.woocommerce-store-notice,
.demo_store {
  position: fixed;
  top: auto !important;
  bottom: 0;
  background: #000;
}

.woosw-content-item--price,
.tr-price,
.price,
.amount {
  font-size: 15px;
}

.woosw-content-item--price .amount,
.tr-price .amount,
.price .amount {
  font-size: inherit;
}

.woosw-content-item--price del,
.tr-price del,
.price del {
  font-size: .867em;
  position: relative;
  text-decoration: none;
}

.woosw-content-item--price del .amount,
.tr-price del .amount,
.price del .amount {
  font-size: inherit;
}

.woosw-content-item--price del:before,
.tr-price del:before,
.price del:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  background: currentColor;
  content: '';
}

.woosw-content-item--price ins,
.tr-price ins,
.price ins {
  margin-left: 6px;
}

.star-rating {
  font-family: star;
  font-size: 14px;
  color: #f6b500;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  width: 6.4em;
  letter-spacing: .2em;
}

.star-rating:before {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  color: #ddd;
  content: "SSSSS";
}

.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.star-rating span:before {
  content: 'SSSSS';
  top: 0;
  position: absolute;
  left: 0;
}

.mini-cart {
  position: relative;
}

.mini-cart .mini-cart__button {
  display: block;
  padding: 0 15px;
}

.mini-cart ul {
  margin: 0;
  padding: 0;
}

.mini-cart.hide-on-empty [data-count="0"] {
  display: none;
}

.mini-cart .mini-cart-icon {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

.mini-cart .mini-cart-icon:before {
  position: absolute;
  top: 50%;
  left: 0;
  color: inherit;
  content: '\f07a';
  line-height: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.mini-cart .mini-cart-icon:after {
  position: absolute;
  top: -4px;
  right: 0;
  padding: 0 4px;
  min-width: 15px;
  height: 15px;
  border-radius: 15px;
  color: #fff;
  background: #111;
  content: attr(data-count);
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
}

.mini-cart .widget_shopping_cart_content {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  z-index: 99999;
  visibility: hidden;
  overflow: auto;
  padding: 30px 20px 27px;
  max-height: 80vh;
  width: 360px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  opacity: 0;
}

.mini-cart .widget_shopping_cart_content li > a:not(.remove) {
  font-size: 16px !important;
  font-weight: 500;
}

.mini-cart:hover .widget_shopping_cart_content {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.woocommerce-mini-cart__empty-message {
  text-align: center;
}

.woocommerce-mini-cart__empty-message .empty-basket {
  font-size: 70px;
}

.woocommerce-mini-cart__empty-message .empty-message {
  font-size: 16px;
  font-style: italic;
}

.woocommerce-mini-cart__empty-message .button {
  width: 100%;
  height: 48px;
  line-height: 46px;
}

.widget_shopping_cart_content .cart-footer {
  margin-top: 30px;
  padding-top: 22px;
  border-top: 1px solid #eee;
}

.widget_shopping_cart_content .total .amount {
  float: right;
}

.widget_shopping_cart_content .buttons .button {
  padding: 0 20px !important;
  height: 48px;
  width: 48%;
  line-height: 46px;
  text-align: center;
  float: left;
}

.widget_shopping_cart_content .buttons > a {
  margin-top: 10px;
}

.widget_shopping_cart_content .buttons .checkout {
  float: right;
}

.cart_list.product_list_widget li {
  display: block;
  list-style-type: none;
}

.cart_list.product_list_widget li + li {
  margin-top: 20px !important;
}

.cart_list.product_list_widget li img {
  float: left !important;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 0;
}

.cart_list.product_list_widget li .quantity {
  display: block;
  font-size: 15px;
  margin-top: 5px;
}

.cart_list.product_list_widget li .remove {
  position: relative !important;
  float: right;
  width: 20px;
  height: 20px;
  color: inherit !important;
  font-size: 0;
  line-height: 1.5;
}

.cart_list.product_list_widget li .remove:hover {
  background: transparent;
  color: initial !important;
}

.cart_list.product_list_widget li .remove:after {
  content: '\f00d';
  font-size: 18px;
  position: absolute;
  top: 4px;
  left: 3px;
}

.cart_list.product_list_widget a {
  font-weight: normal;
  font-size: 16px;
}

@media (max-width: 767px) {
  .mini-cart .widget_shopping_cart_content {
    display: none !important;
  }
}

.woocommerce .page-sidebar .product_list_widget li + li {
  margin-top: 20px;
}

.woocommerce .page-sidebar .product_list_widget .product-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.woocommerce .page-sidebar .product_list_widget .product-title {
  margin: 0;
}

.woocommerce .page-sidebar .product_list_widget .thumbnail {
  line-height: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.woocommerce .page-sidebar .product_list_widget .thumbnail a:after {
  display: none;
}

.woocommerce .widget_shopping_cart .cart_list li {
  padding-left: 0;
}

.widget_price_filter .price_slider {
  margin-bottom: 34px;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
  height: 4px;
  background-color: #ddd;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
  margin-left: .5em;
  margin-right: .5em;
}

.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  border-radius: 1em;
  background: currentColor;
}

.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  border-radius: 1em;
  cursor: ew-resize;
  outline: 0;
  margin-left: -.5em;
  top: -7px;
  width: 18px;
  height: 18px;
  background: currentColor;
}

.widget_price_filter .price_slider_amount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: inherit;
}

.widget_price_filter .price_slider_amount .button {
  padding: 0 33px !important;
  height: 40px;
  line-height: 38px !important;
}

.widget_price_filter .price_slider_amount .price_label {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product_list_widget {
  margin: 0;
  padding: 0;
}

.product_list_widget li {
  display: block;
}

.product_list_widget li img {
  float: left;
  margin-right: 20px;
  margin-left: 0;
  width: 80px;
}

.product_list_widget li .product-title {
  display: block;
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.34;
}

.product_list_widget li .product-title a {
  display: inline-block;
  color: inherit;
  font-weight: inherit;
}

.product_list_widget li .star-rating {
  margin-bottom: 10px;
  font-size: 12px;
}

.product_list_widget li .price {
  font-size: 14px;
}

.woocommerce-widget-layered-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}

.woocommerce-widget-layered-nav-list li {
  position: relative;
}

.woocommerce .widget_rating_filter ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
}

.woocommerce .widget_rating_filter ul li {
  padding: 0 0 1px;
  list-style: none;
}

.woocommerce .widget_rating_filter ul li a {
  padding: 1px 0;
}

.woocommerce .widget_rating_filter ul li.chosen a:before {
  content: '\f057';
  color: #a00;
  margin-right: .618em;
}

.woocommerce .widget_rating_filter ul li::after,
.woocommerce .widget_rating_filter ul li::before {
  content: ' ';
  display: table;
}

.woocommerce .widget_rating_filter ul ::after {
  clear: both;
}

.woocommerce .widget_rating_filter ul .star-rating {
  float: none;
  display: inline-block;
}

@-webkit-keyframes load-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.woocommerce nav.woocommerce-pagination {
  text-align: center;
}

.woocommerce nav.woocommerce-pagination ul {
  margin: 70px 0 0;
  border: 0;
}

.woocommerce nav.woocommerce-pagination ul li {
  display: inline-block;
  padding: 0;
  border: 0;
  list-style-type: none;
}

.woocommerce nav.woocommerce-pagination ul li > span,
.woocommerce nav.woocommerce-pagination ul li > a {
  padding: 0;
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #111;
  min-width: 45px;
  height: 45px;
  line-height: 41px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: none !important;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
  border-color: #111 !important;
}

.woocommerce nav.woocommerce-pagination ul li .prev,
.woocommerce nav.woocommerce-pagination ul li .next {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.woocommerce nav.woocommerce-pagination ul li .prev span,
.woocommerce nav.woocommerce-pagination ul li .next span {
  font-size: 12px;
}

.woocommerce nav.woocommerce-pagination ul li .prev span {
  margin-right: 9px;
}

.woocommerce nav.woocommerce-pagination ul li .next span {
  margin-left: 9px;
}

.woocommerce .archive-shop-actions .shop-filter-left,
.woocommerce .archive-shop-actions .shop-filter-right {
  margin-bottom: 30px;
}

.woocommerce .woocommerce-result-count {
  margin: 0;
}

.woocommerce .shop-filter-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.woocommerce .woocommerce-ordering {
  display: inline-block;
  margin: 0;
  float: none;
}

.woocommerce .woocommerce-ordering select {
  min-height: 48px;
}

.woocommerce .cats {
  margin-bottom: 50px;
}

.woocommerce .cats .product-category .cat-title,
.woocommerce .cats .product-category .cat-count {
  color: #fff;
}

.woocommerce .cats .cat-title {
  margin-bottom: 5px;
}

.woocommerce .cats .cat-image img {
  width: 100%;
}

.woocommerce .cats .cat-text {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

.woocommerce .cats .cat-count {
  margin: 0;
  color: initial;
  font-size: 12px;
}

@media (min-width: 1200px) {
  .archive-shop .page-content {
    margin-top: 115px;
  }
  .archive-shop-wide .page-content > .container {
    max-width: 1750px;
  }
}

.woocommerce-cart .shop_table th {
  padding: 20px 0;
  line-height: 1.2;
}

.woocommerce-cart .shop_table th.product-thumbnail {
  width: 105px;
}

.woocommerce-cart .shop_table th, .woocommerce-cart .shop_table td {
  border: 0;
  background: none;
  text-align: left;
  padding-right: 10px !important;
}

.woocommerce-cart .shop_table tr {
  border-bottom: 1px solid #ededed;
}

.woocommerce-cart .shop_table th {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.38px;
  color: #111 !important;
}

.woocommerce-cart .shop_table td {
  padding: 20px 0;
}

.woocommerce-cart .shop_table label {
  display: none;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.07px;
  vertical-align: middle;
}

.woocommerce-cart .shop_table .product-title {
  font-size: 16px;
  margin-bottom: 0;
}

.woocommerce-cart .shop_table .actions {
  padding-bottom: 10px;
  padding-right: 0 !important;
}

.woocommerce-cart .shop_table .actions input,
.woocommerce-cart .shop_table .actions .button {
  margin-bottom: 10px;
}

.woocommerce-cart .shop_table .actions-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.woocommerce-cart .shop_table .actions-buttons {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.woocommerce-cart .shop_table .coupon-wrap {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.woocommerce-cart .shop_table .coupon {
  max-width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.woocommerce-cart .shop_table .coupon label {
  display: none;
}

.woocommerce-cart .shop_table .coupon .input-text {
  margin: 0 10px 10px 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.woocommerce-cart .shop_table .coupon .button {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin: 0 10px 10px 0;
}

.woocommerce-cart .shop_table .product-remove {
  text-align: right;
  padding-right: 0 !important;
}

.woocommerce-cart .shop_table .product-remove .tm-button {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.38px;
  color: #111 !important;
}

.woocommerce-cart .cart .product-thumbnail img {
  width: 80px;
}

.woocommerce-cart .cart-collaterals {
  margin-top: 90px;
}

.woocommerce-cart .cart-collaterals th {
  width: 170px;
}

.woocommerce-cart .cart-collaterals .shop_table th, .woocommerce-cart .cart-collaterals .shop_table td {
  padding: 10px 0;
}

.woocommerce-cart .cart-collaterals .woocommerce-shipping-methods {
  margin: 0;
}

.woocommerce-cart .cart-collaterals .woocommerce-shipping-destination {
  margin: 0 0 5px;
}

.woocommerce-cart .cart-collaterals .order-total .amount {
  font-size: 20px;
}

.woocommerce-cart .cart_totals {
  width: 100%;
  max-width: 600px;
}

.woocommerce-cart .empty-cart-messages {
  text-align: center;
}

.woocommerce-cart .empty-cart-icon {
  font-size: 80px;
  line-height: 1;
  margin-bottom: 30px;
}

.woocommerce-cart .empty-cart-heading {
  font-size: 36px;
  font-weight: 400;
}

.woocommerce-cart .return-to-shop {
  margin-top: 30px;
  text-align: center;
}

.shipping-calculator-button {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.38px;
  line-height: 1.5;
  display: inline-block;
}

.woocommerce a.remove {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: #d8d8d8;
  text-decoration: none;
  border: 0;
}

.woocommerce a.remove:hover {
  color: #222;
}

.shipping-calculator-form {
  margin-top: 10px;
}

.btn-empty-cart {
  margin-right: 10px;
}

.woocommerce-shipping-methods {
  padding: 0;
  margin: 0 0 20px;
  list-style-type: none;
}

@media (max-width: 767px) {
  .woocommerce-page table.shop_table thead {
    display: none;
  }
  .woocommerce-page table.shop_table tbody,
  .woocommerce-page table.shop_table th,
  .woocommerce-page table.shop_table td,
  .woocommerce-page table.shop_table tr {
    display: block;
  }
  .woocommerce-page table.shop_table tr {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .woocommerce-page table.shop_table td {
    padding: 0 !important;
  }
  .woocommerce-page table.shop_table label {
    display: inline-block;
  }
  .woocommerce-page table.shop_table .cart_item {
    position: relative;
    padding-left: 110px;
    min-height: 90px;
  }
  .woocommerce-page table.shop_table .product-quantity {
    margin-top: 10px;
  }
  .woocommerce-page table.shop_table .product-subtotal {
    margin: 10px 0;
  }
  .woocommerce-page table.shop_table .product-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
  }
  .woocommerce-page table.shop_table .product-remove {
    text-align: left;
  }
  .woocommerce-cart .cart-collaterals {
    margin: 40px 0 0;
  }
}

@media (max-width: 543px) {
  .woocommerce-cart .shop_table .actions-wrap {
    display: block;
  }
  .woocommerce-cart .shop_table .coupon {
    display: block;
    max-width: 100%;
  }
  .woocommerce-cart .shop_table .actions-buttons {
    display: block;
  }
}

.woocommerce-form__label-for-checkbox {
  cursor: pointer;
}

#order_comments {
  height: 128px;
}

#ship-to-different-address-checkbox {
  top: -3px;
}

.woocommerce-checkout .checkout_coupon {
  margin-bottom: 30px;
}

.woocommerce-checkout .checkout_coupon .form-row {
  width: auto !important;
  float: left !important;
}

.woocommerce-checkout .checkout_coupon .input-text {
  width: 320px;
}

.woocommerce-checkout .checkout_coupon button {
  height: 54px;
  line-height: 52px;
}

.woocommerce-checkout #customer_details {
  margin-bottom: 50px;
}

.woocommerce-checkout form .form-row label {
  display: none;
}

.woocommerce-checkout form .form-row.form-row-first, .woocommerce-checkout form .form-row.form-row-last {
  width: 50%;
}

.woocommerce-checkout form .form-row.form-row-first {
  padding-right: 10px;
  float: left;
}

.woocommerce-checkout form .form-row.form-row-last {
  padding-left: 10px;
  float: right;
}

.woocommerce-checkout .shop_table th {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.woocommerce-checkout .shop_table th, .woocommerce-checkout .shop_table td {
  background: none;
  border: 0;
  text-align: left;
  padding: 15px 15px 15px 0;
}

.woocommerce-checkout .shop_table tr {
  border-bottom: 1px solid #ededed;
}

.woocommerce-checkout .payment_methods {
  border: 0;
  padding: 0;
  margin: 0 0 10px;
  list-style-type: none;
}

.woocommerce-checkout .payment_methods li {
  margin-bottom: 10px;
}

.woocommerce-checkout .payment_title {
  padding: 17px 20px;
  border-radius: 4px;
  background: #ededed;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.woocommerce-checkout .payment_title label {
  cursor: pointer;
}

.woocommerce-checkout .payment_title label img {
  vertical-align: middle;
  margin: 0 10px;
}

.woocommerce-checkout .payment_box {
  position: relative;
  padding: 28px 0 15px;
}

.woocommerce-checkout .payment_method_ppec_paypal img {
  vertical-align: middle;
  margin-left: 10px;
}

.woocommerce-checkout .place-order {
  margin: 0 !important;
  padding: 0;
  text-align: center;
}

.woocommerce-checkout .woocommerce-terms-and-conditions-wrapper {
  margin-bottom: 40px;
}

.cart_totals > h2,
.woocommerce-additional-fields > h3,
#order_review_heading,
#ship-to-different-address,
.woocommerce-billing-fields > h3 {
  margin-bottom: 40px;
  font-size: 24px;
}

.single-product .entry-product-badges {
  position: static;
  line-height: 0;
  margin-bottom: 20px;
}

.single-product .entry-product-badges > span {
  display: inline-block;
  margin: 0 5px 5px 0;
}

.single-product .woo-single-images {
  position: relative;
}

.single-product .woo-single-images .feature-style-list a {
  display: block;
}

.single-product .woo-single-images .feature-style-list a + a {
  margin-top: 40px;
}

.single-product .woo-single-images .feature-style-list img {
  width: 100%;
}

.single-product .woo-single-images .billey-light-gallery .zoom {
  cursor: pointer;
}

.single-product .woo-single-gallery .billey-thumbs-swiper {
  margin-top: 10px;
}

.single-product .woo-single-gallery .billey-thumbs-swiper .swiper-slide img {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid transparent;
}

.single-product .woo-single-gallery .billey-thumbs-swiper .swiper-slide:hover img,
.single-product .woo-single-gallery .billey-thumbs-swiper .swiper-slide-thumb-active img {
  box-shadow: 0 8px 30px #ededed;
}

.single-product .entry-summary .price {
  font-size: 18px;
  line-height: 1.34;
  margin-bottom: 8px;
}

.single-product .entry-summary .added_to_cart {
  display: none;
}

.single-product .entry-summary .add_to_cart_button:before {
  content: '\f07a';
}

.single-product .entry-summary .add_to_cart_button.added:before {
  content: '\f217';
}

.single-product .entry-title {
  font-size: 40px;
  margin: 0 0 9px;
}

.single-product form.cart {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 30px;
  margin-top: 32px;
  padding-bottom: 26px;
  margin-bottom: 40px;
}

.single-product form.cart table th, .single-product form.cart table td {
  text-align: left;
  border: 0;
}

.single-product form.cart table td {
  background: none;
}

.single-product form.cart div.quantity {
  display: inline-block;
  margin: 0 26px 0 0;
}

.single-product form.cart .label > label,
.single-product form.cart .quantity-button-wrapper > label,
.single-product form.cart .wccpf_label > label {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.38px;
  min-width: 85px;
}

.single-product form.cart .variations {
  margin-bottom: 11px;
}

.single-product form.cart .variations td {
  vertical-align: middle;
  padding: 10px 0;
}

.single-product form.cart .variations select {
  margin-right: 0;
  padding: 4px 40px 2px 15px;
  background-position: center right 15px;
  min-width: 0;
  width: auto;
  height: 40px;
  border: 1px solid #eee;
  font-size: 18px;
}

.single-product form.cart .variations .label {
  padding: 10px 15px 10px 0;
  min-width: 85px;
}

.single-product form.cart .variations .value {
  width: 100%;
}

.single-product form.cart .woocommerce-grouped-product-list td {
  vertical-align: middle;
  padding: 10px 10px 10px 0;
}

.single-product form.cart .woocommerce-grouped-product-list .quantity-button-wrapper {
  margin: 0;
}

.single-product form.cart .woocommerce-grouped-product-list .quantity {
  margin: 0;
}

.single-product form.cart .quantity-button-wrapper {
  margin-bottom: 50px;
}

.single-product form.cart .quantity-button-wrapper > label {
  display: inline-block;
  margin: 12px 0 0 0;
  min-width: 81px;
  padding-right: 15px;
}

.single-product form.cart .quantity-button-wrapper .stock {
  display: inline-block;
}

.single-product form.cart .single_add_to_cart_button,
.single-product form.cart .product-action {
  vertical-align: top;
  margin-right: 16px;
  margin-bottom: 20px;
}

.single-product .reset_variations:before {
  content: '\f00d';
  font-size: 14px;
  margin-right: 5px;
  vertical-align: middle;
  margin-left: 10px;
}

.single-product .woocommerce-variation-price {
  margin-bottom: 10px;
}

.single-product .stock {
  display: none;
}

.woocommerce-product-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.woocommerce-variation-description {
  margin-bottom: 20px;
}

.woocommerce-tabs {
  position: relative;
  margin-top: 76px;
}

.woocommerce-tabs .tabs {
  position: relative;
  overflow: visible;
  margin: 0;
  padding: 0;
  text-align: center;
}

.woocommerce-tabs .tabs:before {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 1px;
  display: block;
  width: 100%;
  height: 1px;
  border: 0 !important;
  background: #ededed;
  content: '';
}

.woocommerce-tabs .tabs li {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 0 55px 0 0;
  padding: 0;
  border: 0;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  background: transparent;
}

.woocommerce-tabs .tabs li:last-child {
  margin-right: 0;
}

.woocommerce-tabs .tabs li a {
  display: block;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #ccc;
}

.woocommerce-tabs .tabs li:before, .woocommerce-tabs .tabs li:after {
  display: none;
}

.woocommerce-tabs .tabs li.active a,
.woocommerce-tabs .tabs li a:hover {
  color: #333;
}

.woocommerce-tabs .woocommerce-Tabs-panel {
  padding: 40px 0 0;
  max-width: 770px;
  margin: 0 auto;
}

.woocommerce-product-details__short-description {
  margin-top: 41px;
  margin-bottom: 38px;
}

.woocommerce-review-link {
  margin-left: 20px;
  font-size: 16px;
  font-style: italic;
  line-height: 1;
  position: relative;
  top: 2px;
}

.entry-product-meta {
  margin-top: 16px;
}

.entry-product-meta a {
  color: inherit;
}

.entry-product-meta .meta-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.entry-product-meta .meta-item ~ .meta-item {
  margin-top: 10px;
}

.entry-product-meta h6 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.38px;
  min-width: 100px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin: 0 15px 0 0;
}

.entry-product-meta .meta-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.entry-product-share .inner {
  margin: 0 -10px;
}

.entry-product-share a {
  padding: 0 10px;
  font-size: 18px;
}

.cross-sells.products,
.up-sells.products,
.related.products {
  margin-top: 90px;
}

.product-section-heading {
  font-size: 34px;
  line-height: 1.31;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 1400px) {
  .single-product-list .page-content > .container {
    max-width: 1750px;
  }
  .single-product-list .entry-summary {
    padding-left: 95px;
    max-width: 535px;
  }
  .single-product-slider .entry-summary {
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .single-product .woo-single-images .feature-style-list a + a {
    margin-top: 20px;
  }
  .single-product .entry-summary {
    margin-top: 40px;
  }
}

.woocommerce-Reviews-title {
  display: none;
}

.single-product .comment-reply-title {
  font-weight: 500;
  color: #333;
  margin-top: 70px;
  margin-bottom: 40px;
}

.single-product .comment .star-rating {
  position: absolute;
  top: 5px;
  right: 0;
}

.single-product .comment .meta {
  padding-right: 100px;
}

.single-product .woocommerce-noreviews {
  margin-bottom: 30px;
}

.single-product .comment-form p {
  margin-bottom: 20px;
}

.single-product .comment-form .comment-form-comment {
  margin-bottom: 30px;
}

.single-product .comment-respond .form-submit {
  margin: 0;
  text-align: center;
}

.comment-form-rating {
  line-height: 1;
  margin-bottom: 36px;
}

.comment-form-rating label {
  font-weight: 500;
  color: #111;
}

.comment-form-rating .stars {
  display: inline-block;
  margin: 0 0 0 26px !important;
}

.comment-form-rating .stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  margin-right: 5px;
  font-size: 13px;
  color: #f6b500;
}

.comment-form-rating .stars a:before {
  content: '\f005' !important;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-indent: 0;
}

.comment-form-rating .stars.selected a::before {
  color: inherit;
}

.comment-form-rating .stars a:before,
.comment-form-rating .stars.selected a.active ~ a::before {
  color: #ddd;
}

.woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 5px;
  border: 1px solid #eee;
}

.woocommerce-MyAccount-navigation li {
  margin: -1px -1px 0;
}

.woocommerce-MyAccount-navigation li:first-child a {
  border-radius: 5px 5px 0 0;
}

.woocommerce-MyAccount-navigation li:last-child a {
  border-radius: 0 0 5px 5px;
}

.woocommerce-MyAccount-navigation li a {
  display: block;
  padding: 14px 30px;
  font-size: 16px;
  font-weight: 500;
  border-top: 1px solid #eee;
  color: inherit;
}

.woocommerce-MyAccount-navigation .is-active a,
.woocommerce-MyAccount-navigation a:hover {
  color: #fff;
}

.woocommerce-account .addresses .title .edit,
.woocommerce-account ul.digital-downloads li .count {
  margin-top: 3px;
}

.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
  width: 100%;
  float: none;
}

.woocommerce-edit-address .woocommerce-MyAccount-content h3 {
  margin-bottom: 10px;
}

.woocommerce-edit-address .woocommerce-MyAccount-content > form > h3 {
  font-size: 24px;
  margin-bottom: 40px;
}

.woocommerce-edit-address .woocommerce-MyAccount-content address {
  font-style: normal;
}

.woocommerce-account .page-main-content > article .woocommerce > h2,
.woocommerce-account .page-main-content > article > .woocommerce > .u-columns > div > h2 {
  font-size: 40px;
  text-align: center;
  max-width: 380px;
  margin: 0 auto 40px;
}


.woocommerce-account.anonymous .page-content {
  margin-top: 0;
  margin-bottom: 0;
}

.woocommerce-account.anonymous .page-content > .container {
  max-width: 100%;
  padding: 0;
}

.my-account-layout {
  min-height: 90vh;
}

.my-account-layout .my-account-form {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-account-layout .my-account-form > .inner {
  width: 530px;
  max-width: 100%;
  padding: 50px 30px;
}

.my-account-layout .form-title {
  font-size: 46px;
  line-height: 1.31;
  margin-bottom: 37px;
}

.my-account-layout .form-tabs {
  margin-bottom: 25px;
}

.my-account-layout .form-tabs a {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 7px 0;
  color: rgba(17, 17, 17, 0.4);
  margin-right: 18px;
}

.my-account-layout .form-tabs a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: currentColor;
  opacity: 0;
}

.my-account-layout .form-tabs a.active {
  color: #5758e0;
}

.my-account-layout .form-tabs a.active:after {
  opacity: 1;
}

.my-account-layout .form-row {
  margin-bottom: 0;
}

.my-account-layout .form-row + .form-row {
  margin-top: 34px;
}

.my-account-layout label {
  font-family: Futura;
  font-weight: 500;
  font-size: 18px;
  color: #111;
  display: block;
  margin-bottom: 12px;
  cursor: pointer;
}

.my-account-layout .input-text {
  background: #f6f6f6;
  border-color: #f6f6f6;
  min-height: 50px;
}

.my-account-layout .form-row-label-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.my-account-layout .form-row-label-wrap label {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.my-account-layout .form-row-label-wrap .lost_password {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.8px;
}

.my-account-layout .button {
  margin-top: 40px;
  min-width: 200px;
  border-color: transparent !important;
  background-color: transparent;
  background-image: -webkit-linear-gradient(21deg, #5758df 0%, #f77991 50%, #5758df 100%);
  background-image: linear-gradient(69deg, #5758df 0%, #f77991 50%, #5758df 100%);
  background-size: 200% auto;
  background-position: left center;
}

.my-account-layout .button:hover {
  background-position: right center;
}

.my-account-layout .woocommerce-form__label-for-checkbox {
  margin-bottom: 0;
}

.my-account-left-background {
  width: 90%;
  height: 100%;
  background: url("assets/images/my-account-login-image.jpg") no-repeat center;
  background-size: cover;
}

.form-register-title,
.woocommerce-form-register {
  display: none;
}

.woocommerce-privacy-policy-text {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .woocommerce-account .page-main-content > article .woocommerce > h2,
  .woocommerce-account .page-main-content > article > .woocommerce > .u-columns > div > h2 {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .woocommerce-account .page-main-content > article .woocommerce > h2,
  .woocommerce-account .page-main-content > article > .woocommerce > .u-columns > div > h2 {
    font-size: 28px;
  }
  .my-account-left-background {
    height: 350px;
    width: 100%;
    background-position: center;
  }
}

.single-product table.wccpf_fields_table {
  margin-bottom: 20px;
}

.single-product table.wccpf_fields_table td {
  padding: 0;
}

.single-product table.wccpf_fields_table td.wccpf_label {
  padding: 10px 15px 10px 0;
  min-width: 85px;
  width: auto;
}

.single-product table.wccpf_fields_table td.wccpf_label label {
  min-width: 0;
  width: auto;
}

.single-product table.wccpf_fields_table td.wccpf_value {
  width: 100%;
}

.woosw-area .woosw-inner .woosw-content .woosw-content-top {
  background: #111;
}

.woosw-area .woosw-inner .woosw-content .woosw-content-bot {
  background: #111;
  line-height: unset;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.woosw-area .woosw-inner .woosw-content .woosw-content-bot .woosw-content-bot-inner {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.woosw-area .woosw-inner .woosw-content .woosw-content-bot .woosw-content-bot-inner > span {
  -webkit-flex-basis: unset;
      -ms-flex-preferred-size: unset;
          flex-basis: unset;
}

.woosw-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.woosw-page {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.woosw-page a {
  display: inline-block;
}

.woosw-page a,
.woosw-continue {
  color: #fff !important;
}

.woosw-page a:after,
.woosw-continue:after {
  bottom: 2px;
}

.woosw-list table.woosw-content-items .woosw-content-item .woosw-content-item--remove span:before {
  content: '\f00d' !important;
}

.woosw-list .add_to_cart_button {
  height: 45px;
  line-height: 43px;
  padding: 0 20px;
}

.woosw-list .added_to_cart {
  display: none;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-close .wooscp-table-close-icon {
  min-width: 48px;
  min-height: 48px;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody .tr-price td {
  font-weight: inherit;
}

.woosw-area.woosw-area .woosw-inner .woosw-content {
  max-width: 570px;
}

.woosw-area.woosw-area .woosw-inner .woosw-content .woosw-content-top .woosw-close {
  color: #fff !important;
}

.woosw-area.woosw-area .woosw-inner .woosw-content .woosw-content-top .woosw-close:after {
  content: '\f00d' !important;
  line-height: 48px;
}

.woosw-area.woosw-area .woosw-inner .woosw-content .woosw-content-top .woosw-close:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.woosw-area.woosw-area .woosw-inner .woosw-content .woosw-content-mid table.woosw-content-items .woosw-content-item .woosw-content-item--remove {
  padding: 0 !important;
}

.woosw-area.woosw-area .woosw-inner .woosw-content .woosw-content-mid table.woosw-content-items .woosw-content-item .woosw-content-item--remove > span {
  width: 30px !important;
  height: 30px !important;
}

.woosw-area.woosw-area .woosw-inner .woosw-content .woosw-content-mid table.woosw-content-items .woosw-content-item .woosw-content-item--remove > span:before {
  content: '\f00d' !important;
}

.woosw-area.woosw-area .woosw-content .button {
  height: 40px !important;
  line-height: 40px !important;
  padding: 0 20px !important;
}

.woosw-list .woocommerce_loop_add_to_cart_wrap:before, .woosw-list .woocommerce_loop_add_to_cart_wrap:after,
.woosw-area .woocommerce_loop_add_to_cart_wrap:before,
.woosw-area .woocommerce_loop_add_to_cart_wrap:after,
.wooscp-area .woocommerce_loop_add_to_cart_wrap:before,
.wooscp-area .woocommerce_loop_add_to_cart_wrap:after {
  display: none;
}

.woosw-content-item--add {
  min-width: 140px;
  margin-top: 5px;
}

.wishlist-btn.style-01 a,
.compare-btn.style-01 a {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  border: 1px solid #111;
  line-height: 58px;
  font-size: 0 !important;
  padding: 0 !important;
}

.wishlist-btn.style-01 a:before,
.compare-btn.style-01 a:before {
  font-size: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wishlist-btn.style-01 a:before {
  content: '\f004';
}

.wishlist-btn.style-01 a.woosw-added:before {
  font-weight: 900;
}

.compare-btn.style-01 a:before {
  content: '\f3f1';
}

.wishlist-btn.style-01 .woosw-adding:before,
.compare-btn.style-01 .wooscp-btn-adding:before {
  -webkit-animation: load-spin 1s linear infinite;
          animation: load-spin 1s linear infinite;
  content: '\f3f4';
}

.mfp-bg.mfp-bg {
  background: #000;
  z-index: 100000 !important;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}


.mfp-fade.mfp-bg.mfp-ready {
  opacity: .5;
}


.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}


.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}


.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}


.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.popup-product-quick-view-content {
  display: none;
}

.popup-product-quick-view {
  z-index: 100001 !important;
}

.popup-product-quick-view .mfp-close {
  display: none !important;
}

.popup-product-quick-view .mfp-content {
  position: relative;
  max-width: 970px;
}

.popup-product-quick-view .product-container {
  position: relative;
  overflow: hidden;
  padding: 40px 0 40px 40px;
  background: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.popup-product-quick-view .woo-single-images {
  width: 400px;
}

.popup-product-quick-view .product_title {
  display: none;
}

.popup-product-quick-view .product_title.title-with-link {
  display: block;
}

.popup-product-quick-view .product_title a {
  color: inherit;
}

.popup-product-quick-view .entry-summary {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;
}

.popup-product-quick-view .entry-summary .inner-content {
  position: relative;
  height: 525px;
  max-width: 100%;
  overflow: hidden;
}

.popup-product-quick-view .entry-summary .inner-content > .inner {
  max-width: 460px;
  padding-left: 70px;
}

.popup-product-quick-view .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  right: 0;
}

.desktop .billey-product.style-grid .product-wrapper:hover .product-actions {
  opacity: 1;
}

.desktop .billey-product.style-grid .product-actions {
  
  opacity: 0;
}


.wp-block-woocommerce-active-filters > h3,
.wp-block-woocommerce-price-filter > h3,
.wp-block-woocommerce-attribute-filter > h3 {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 11px;
  border-bottom: 1px solid #eee;
}

.wp-block-woocommerce-active-filters .wc-block-checkbox-list,
.wp-block-woocommerce-active-filters .wc-block-active-filters,
.wp-block-woocommerce-price-filter .wc-block-checkbox-list,
.wp-block-woocommerce-price-filter .wc-block-active-filters,
.wp-block-woocommerce-attribute-filter .wc-block-checkbox-list,
.wp-block-woocommerce-attribute-filter .wc-block-active-filters {
  margin-bottom: 0;
}

.wp-block-woocommerce-active-filters:not(:empty) + div,
.wp-block-woocommerce-price-filter:not(:empty) + div,
.wp-block-woocommerce-attribute-filter:not(:empty) + div {
  margin: 49px 0 0;
}

.wp-block-woocommerce-active-filters .wc-block-active-filters-list {
  padding: 0;
}

.wp-block-woocommerce-active-filters .wc-block-active-filters__clear-all {
  color: #111;
}

.wc-block-attribute-filter {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #111;
}

.wc-block-attribute-filter .wc-block-attribute-filter-list li {
  text-decoration: none;
}
