/* Loop Animations */
// Buzz Out
@keyframes tm-animation-buzz-out {
	10% {
		transform: translateX(3px) rotate(2deg);
	}
	20% {
		transform: translateX(-3px) rotate(-2deg);
	}
	30% {
		transform: translateX(3px) rotate(2deg);
	}
	40% {
		transform: translateX(-3px) rotate(-2deg);
	}
	50% {
		transform: translateX(2px) rotate(1deg);
	}
	60% {
		transform: translateX(-2px) rotate(-1deg);
	}
	70% {
		transform: translateX(2px) rotate(1deg);
	}
	80% {
		transform: translateX(-2px) rotate(-1deg);
	}
	90% {
		transform: translateX(1px) rotate(0);
	}
	100% {
		transform: translateX(-1px) rotate(0);
	}
}

@keyframes tm-loop-move-vertical {
	0% {
		transform: translate3d(0, -5px, 0);
	}
	100% {
		transform: translate3d(0, 5px, 0);
	}
}

.loop-move-vertical {
	animation: 3s tm-loop-move-vertical linear infinite alternate;
}

@keyframes tm-loop-move-horizontal {
	0% {
		transform: translate3d(-5px, 0, 0);
	}
	100% {
		transform: translate3d(5px, 0, 0);
	}
}

.loop-move-horizontal {
	animation: 3s tm-loop-move-horizontal linear infinite alternate;
}

@keyframes tm-loop-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.loop-rotate {
	animation: 3s tm-loop-rotate linear infinite;
}

/* Hover Animations */
.billey-image {
	@extend %NormalTransition;
}

.billey-animation-zoom-in {
	.billey-image {
		overflow: hidden;

		img {
			width: 100%;
			transition: all 1.5s cubic-bezier(0, 0, .2, 1);
		}
	}

	.billey-box {
		&:hover {
			.billey-image {
				img {
					transform: scale3d(1.1, 1.1, 1.1);
				}
			}
		}
	}
}

.billey-animation-zoom-out {
	.billey-image {
		overflow: hidden;

		img {
			width: 100%;
			transition: all 1.5s cubic-bezier(0, 0, .2, 1);
			transform: scale3d(1.1, 1.1, 1.1);
		}
	}

	.billey-box {
		&:hover {
			.billey-image {
				img {
					transform: scale3d(1, 1, 1);
				}
			}
		}
	}
}

.billey-animation-move-up {
	.billey-box {
		.billey-image {
			img {
				transition: all .3s cubic-bezier(0, 0, .2, 1);
			}
		}

		&:hover {
			.billey-image {
				img {
					transform: translateY(-10px);
				}
			}
		}
	}
}

/* Entrance Animations */
@keyframes billeyAnimationFadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 30px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

/**
 * Fix old settings.
 */
.billyFadeInUp,
.billeyFadeInUp {
	animation-name: billeyAnimationFadeInUp;

	&.animated {
		animation-duration: 1s;
	}
}

/* Entrance Grid Animation */
.billey-grid {
	.grid-item {
		opacity: 0;
		transform: translate3d(0, 30px, 0);

		&.animate {
			transform: none;
			opacity: 1;
			// DO NOT apply transition all attributes to grid items. It's caused overlap layout on window resize.
			transition: transform 1s ease-in-out, opacity 1s linear;
		}
	}
}

body:not(.elementor-editor-active) {
	.modern-grid {
		.grid-item {
			opacity: 0;
			transform: translate3d(0, 30px, 0);

			&.animate {
				transform: none;
				opacity: 1;
				// DO NOT apply transition all attributes to grid items. It's caused overlap layout on window resize.
				transition: transform 1s ease-in-out, opacity 1s linear;
			}
		}
	}
}
