// Override default style from Elementor.
.elementor-widget-counter {
	.elementor-counter {
		.elementor-counter-number-wrapper {
			font-size: 60px;
			font-weight: 500;
			color: #111;
		}

		.elementor-counter-title {
			font-size: 12px;
			font-weight: 500;
			line-height: 1.34;
			text-transform: uppercase;
			letter-spacing: 1.38px;
			margin-top: 13px;
		}
	}
}
